@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    .timeline-line::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 23px;
        width: 2px;
        background: #e2e8f0;
        z-index: 0;
    }
    .dark .timeline-line::before {
        background: #2d332d;
    }
}
